.app {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  background-color: #e6fded;
}

h1 {
  position: absolute;
  top: 10%;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  font-size: 44px;
  font-family: "Gill Sans", "sans-serif";
  font-weight: 655;
  color: rgb(41, 117, 180)
}

h2 {
  color: #63a776;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Gill Sans", "sans-serif";
}

.info-box {
  text-align: left;
  font-size: 16px;
  width: 80%;
  height: 30%;
  overflow-y: auto;
  padding: 10px;
  border: 0px solid #CCCCCC;
  border-radius: 20px;
  background-color: #fff;
  line-height: 1.8;
}

.start-button {
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-family: Gill Sans, sans-serif;
  font-weight: bold;
  background-color: #40bfea;
  color: white;
  border: none;
}

.start-button:hover {
  background-color: rgb(41, 117, 180);
  transition: color 1s, background-color 0.5s;

}