.app {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    background-color: #e6fded;
  }

  .start-button {
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
    background-color: #40bfea;
    color: white;
    border: none;
    margin: 2%;
  }
  
  .start-button:hover {
    background-color: rgb(41, 117, 180);
    transition: color 1s, background-color 0.5s;
  
  }